.section {
  @include flex(flex-start, stretch);
  width: 100%;
  position: relative;
  min-height: 100vh;

  &:first-of-type {
    padding-top: 70px;
  }

  &.auto {
    min-height: auto;
  }

  &:before {
    @include overlay(1, 0.85, #1a1423, absolute);
  }

  // .sectionWrapper
  &Wrapper {
    width: 100%;
    position: relative;
    padding: 4rem;
    z-index: 2;
  }

  // .section--hero
  &--hero {
    color: $white;
    min-height: 100vh;

    background-color: $black;
    background-image: url('/image/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 0px !important;

    .sectionWrapper {
      @include flex(center, center);
      width: 100%;
    }

    .heroContent {
      width: 100%;
      max-width: 40rem;
      padding: 2rem 4rem;
      background-color: rgba($violet, 0.5);
    }
  }

  // .section--about
  &--about {
    background-color: $black;
    background-image: url('/image/about_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: $white;
  }

  // .section--portfolio
  &--portfolio {
    background-color: $black;
    background-image: url('/image/portfolio_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: $white;
  }

  // .section--contact
  &--contact {
    background-color: $black;
    background-image: url('/image/contact_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: $white;

    h1 {
      color: $white;
    }
  
    p {
      color: $lightgray;
    }

    .contactForm {
      padding: 2rem;
      background-color: rgba($black, 0.5);
    }
  }

  h1 {
    margin: 1rem 0;
    color: $white;
  }

  p {
    margin: 1rem 0;
    color: $lightgray;
  }
}