extends _layout.pug

block content
  .content(data-router-view='about')
    .contentWrapper
      section.section.section--about.overlay
        .sectionWrapper
          .row
            .col-2.bigLogoContainer
              img.bigLogo.animated(data-animation='fadeInUp', data-animation-delay='0', src='/image/icon_light.png')
            .col-10
              h1.animated(data-animation='fadeInUp', data-animation-delay='400') About
              p.animated(data-animation='fadeInUp', data-animation-delay='600')
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia odit, unde facilis debitis nam voluptatibus ipsum fugit veniam dolorem enim nemo alias! Commodi libero aliquam laborum sint nesciunt optio. Quaerat laboriosam debitis quos commodi, sequi culpa repellendus voluptatem dignissimos aperiam ipsam voluptas, maiores consectetur, delectus numquam eveniet doloremque aut obcaecati maxime assumenda saepe cumque repudiandae iure! Ex praesentium temporibus tempore. Ullam totam corrupti maxime aspernatur adipisci similique ex doloremque exercitationem explicabo soluta, consequatur nesciunt qui tempora illum fuga, libero corporis at recusandae aperiam assumenda doloribus in! Excepturi illo, vitae accusantium reiciendis praesentium laborum voluptate aliquam temporibus beatae placeat saepe omnis?
              p.animated(data-animation='fadeInUp', data-animation-delay='800')
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit fuga obcaecati est blanditiis sit architecto provident esse? Mollitia aliquid architecto, voluptatem saepe nostrum explicabo ducimus hic quibusdam, adipisci facilis sint laboriosam dolor, fuga aperiam nesciunt culpa pariatur? Consectetur, corrupti soluta?
              .row
                .col-12
                  div.animated(data-animation='fadeInRight', data-animation-delay='1000')
                    a.btn(href='/contact.pug') Default Button
                    a.btn.btn--primary(href='/contact.pug') Primary Button
                    a.btn.btn--secondary(href='/contact.pug') Secondary Button
                    a.btn.btn--tertiary(href='/contact.pug') Tertiary Button
                  div.animated(data-animation='fadeInRight', data-animation-delay='1200')
                    a.btn.btn--success(href='/contact.pug') Success Button
                    a.btn.btn--info(href='/contact.pug') Info Button
                    a.btn.btn--warning(href='/contact.pug') Warning Button
                    a.btn.btn--danger(href='/contact.pug') Danger Button
              .row
                .col-12
                  div.animated(data-animation='fadeInRight', data-animation-delay='1400')
                    h1 Heading H1
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, iusto, nulla dolorum ex natus qui et voluptate tenetur repellendus odio dignissimos nisi deserunt quisquam nostrum, animi non molestias minus excepturi incidunt corrupti eaque laborum necessitatibus autem. Debitis porro maxime cupiditate!
                    h2 Heading H2
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis eius nihil dignissimos qui ratione voluptatibus, tenetur odit debitis ipsam fugiat, alias asperiores. Officiis in dicta accusamus. Aut veniam quisquam cumque nobis incidunt libero sunt sit minima, corporis, ullam odio!
                    h3 Heading H3
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora adipisci tempore quibusdam odit esse voluptate, omnis nihil deserunt, minus totam quos, praesentium nesciunt vel est excepturi! Repellat quia quis maxime eum, eius culpa sit assumenda accusantium nesciunt vel, ipsa eaque.
                    h4 Heading H4
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsum odio vero quis veritatis odit expedita ad? Facilis sed odit quia dignissimos mollitia dolorum at incidunt vitae culpa veniam praesentium tempora aperiam animi quidem modi harum id esse, ipsam explicabo.
                    h5 Heading H5
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eveniet odit nesciunt labore architecto consequatur quibusdam fuga natus perspiciatis similique facilis consequuntur delectus doloribus eos mollitia libero id officiis, incidunt iusto animi. Nesciunt officiis corporis iure sed voluptatum animi eaque!
                    h6 Heading H6
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio iure quis quam? Sapiente, sit. Quia unde pariatur neque nam repudiandae doloremque itaque sapiente, beatae minus vero nemo dolorem architecto esse sint eos impedit quis molestias quae rerum at vitae odio?