extends _layout.pug

block content
  .content(data-router-view='about')
    .transitionOverlay
    .contentWrapper
      section.section.section--about
        .sectionWrapper
          h1.animated.animate__fadeInUp.animate__delay-900ms About
          p.animated.animate__fadeInUp.animate__delay-1200ms
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia odit, unde facilis debitis nam voluptatibus ipsum fugit veniam dolorem enim nemo alias! Commodi libero aliquam laborum sint nesciunt optio. Quaerat laboriosam debitis quos commodi, sequi culpa repellendus voluptatem dignissimos aperiam ipsam voluptas, maiores consectetur, delectus numquam eveniet doloremque aut obcaecati maxime assumenda saepe cumque repudiandae iure! Ex praesentium temporibus tempore. Ullam totam corrupti maxime aspernatur adipisci similique ex doloremque exercitationem explicabo soluta, consequatur nesciunt qui tempora illum fuga, libero corporis at recusandae aperiam assumenda doloribus in! Excepturi illo, vitae accusantium reiciendis praesentium laborum voluptate aliquam temporibus beatae placeat saepe omnis?
          p.animated.animate__fadeInUp.animate__delay-1500ms
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit fuga obcaecati est blanditiis sit architecto provident esse? Mollitia aliquid architecto, voluptatem saepe nostrum explicabo ducimus hic quibusdam, adipisci facilis sint laboriosam dolor, fuga aperiam nesciunt culpa pariatur? Consectetur, corrupti soluta?